body
  color: #000

.container
  background: #000

.main-content > div > div
  padding: 0px 20px
  border-top: solid $link-dark $thick-border
.main-content > div:first-of-type > div
  border-top: solid $victim-dark $thick-border

// headers
h1
  color: #fff
h2
  text-transform: uppercase
  font-size: $large-font

//fonts

// tables

// links

// form
form
  input
    width: 200px
  .input-group
    display: block-inline
    margin: 0 auto
    margin-bottom: 10px
