@import 'bootstrap-sprockets'
@import 'bootstrap'

// headers
h2
  color: rgb(160,50,50)
h3
  color: rgb(50,50,150)
// tables
table
  th
    padding-right: 15px
  td
    padding: 5px

// links

// form
form
  input
    width: 200px
  .input-group
    display: block-inline
    margin: 0 auto
    margin-bottom: 10px
