.victims-yearly-chart
  .more-link
    display: block
    text-align: center
    padding: 20px
    font-size: 16px
    text-transform: uppercase
    

.charts
  margin: 0 auto
  max-width: 800px
  padding: 20px 
  h2
    text-align: center
