footer
  text-align: center
  background: #111
  .panel-footer
    border-top: 5px solid #222
  .wrapper
    background: none
    padding: 50px
    p
      color: #eee
      text-transform: uppercase
      margin-bottom: 0px
      letter-spacing: 2px
      font-weight: 500
    ul
      list-style-type: none
      text-align: left
      li
        margin: 2px
