footer
  text-align: center
  background: #111
  .wrapper
    background: none
    padding: 25px
    p
      color: #eee
      text-transform: uppercase
      margin-bottom: 0px
      letter-spacing: 2px
      font-weight: 500
