header
  background: #000
  @include clearfix
  text-align: center
  #notice
    color: yellow
  .user-panel
    text-align: right
    padding: 10px 30px 0 0
    color: #999

  .wrapper
    color: #fff
    letter-spacing: 3px
    h1
      font-weight: 600
      font-size: 72px
      letter-spacing: 6px
    p
      font-size: 48px
    p:first-of-type
      font-size: 14px
    p:last-of-type > span:nth-child(odd)
      color: #BD0C0C
      font-size: 64px
    p:last-of-type > span:nth-child(even)
      color: #F8A7A7

    @media screen and ( max-width: 940px)
      letter-spacing: 1.5px
      h1
        font-weight: 400
        font-size: 48px
        letter-spacing: 3px
      p
        font-size: 32px
      p:first-of-type
        font-size: 12px
      p:last-of-type > span:nth-child(odd)
        color: #BD0C0C
        font-size: 48px

  .help-us
    text-align: right
    margin: 0 30px 10px 0

  .add-buttons
    text-align: center
    @include clearfix
    .add-victim
      background: #400000
      color: $victim-header
      &:hover
        background: rgb(180,0,0)
        color: #fff
    .add-link
      background: #1C166D
      color: #9B94FF
      &:hover
        background: rgb(0,0,180)
        color: #fff
    a
      display: block
      width: 50%
      float: left
      padding: 15px 0px
      color: #fff
      font-size: 22px
      letter-spacing: 2px
      text-decoration: none
