.links
  padding: 20px
  h2
    color: rgb(50,50,180)
  .link
    display: block
    text-decoration: none
    border-bottom: 2px solid #000
  a:first-of-type
    border-top: 2px solid #bbb
    p
      color: #000

//  new view
.new-link-form
  @extend .form-styling
