.links-wrapper
  background: #eee
  border: solid $thick-border $link-dark
  border-top: none
  color: $link-dark

.vote-div
  text-align: center
  padding: 2px
  span, a
    font-size: 16px
    line-height: 14px
    display: block

.links-new
  .topic
    font-size: $medium-font
  .category
    float: right
    padding-right: 20px
.links
  .link
    display: block
    text-decoration: none

.links-video
  font-size: $medium-font
  text-align: center
  h2
    text-align: left
    padding-bottom: 0px
  .video
    a:first-of-type
      color: $link-header
    img
      +size(150px)
.sorting-options
  font-size: $medium-font
  text-align: center
  padding-bottom: 10px
  a
    padding-right: 30px
    color: $link-dark
  a:last-child
    padding-right: 0px
//  new view
.new-link-form
  @extend .form-styling

.voting a
  text-decoration: none
