//Fonts
$small-font: 12px
$medium-font: 18px
$large-font: 28px

$sliderWidth: 400px
$sliderHeight: 250px

$victim-light: #D6B3B3
$victim-header: #FD6E6E
$victim-dark: #400000

$link-light: #B7B5CD
$link-header: #9B94FF
$link-dark: #1c166d

$thick-border: 10px
