// index view
.victims-list
  padding: 20px
  h2
    color: rgb(160,50,50)
  table
    margin: 0 auto
    width: 100%
    th
      text-align: center
      text-transform: uppercase
      font-size: 14px
      &:nth-child(2)
        padding-right: 10px
    td
      padding: 5px
      text-align: left
  .new-victim
    text-align: center
    font-size: 14px

// new view
.new-victim-form
  @extend .form-styling
