// index view
.victims-wrapper
  background: #eee
  border: solid $thick-border $victim-dark
  border-top: none
  h2
    color: $victim-dark
.victims-latest
  min-width: 440px
  font:
    size: $medium-font
    weight: 500
  letter-spacing: 1px
  //p
    color: #000
  .v-pic
    text-align: center
  .v-attr
    text-align: left
  .v-links
    a
      display: block
  .v-info
    p
      max-width: 500px
      padding: 10px
      border: solid $victim-dark $thick-border
      font-size: 14px
  .control-next>span, .control-prev>span
    font-size: 28px
    cursor: pointer
    margin-top: 20px

.victims-list


// new view
.new-victim-form
  @extend .form-styling
