.add-buttons
  .add-victim
    %i{ class: "glyphicon glyphicon-plus"}
    = link_to 'Victim', new_victim_path
  .home
    = link_to 'Home', root_path
  .add-link
    %i{ class: "glyphicon glyphicon-plus"}
    = link_to 'Link', new_link_path
