<header>
  <div class="wrapper">
    <div>
      <h1>Confirmed deaths<br> from Spice: <span><%= @victims.count %> ppl</span></h1>
    </div>
    <img src="images/spice-in-hand.jpg" alt="synthetic cannabis in a hand" />
  </div>
</header>
