<% provide @victims = Victim.count %>
<header>
  <div class="wrapper jumbotron">
      <%= image_tag 'spice2.jpg', { :alt => 'synthetic cannabis in a hand'} %>
      <h1>Confirmed deaths<br> from Spice<span><%= @victims %></span></h1>
  </div>
</header>
