<% provide @victims = Victim.count %>
<header>
  <div class="wrapper">
    <div>
      <h1>Confirmed deaths<br> from Spice: <span><%= @victims %> ppl</span></h1>
    </div>
    <%= image_tag 'spice-in-hand.jpg', { :alt => 'synthetic cannabis in a hand'} %>
  </div>
</header>
