<header>
  <div class="wrapper jumbotron">
      <%= image_tag 'spice2.jpg', { :alt => 'synthetic cannabis in a hand'} %>
      <h1>Confirmed deaths<br> from Spice<span> <%= @count %> </span></h1>
  </div>
  <div id="add-buttons">
    <%= link_to 'Add new victim', new_victim_path, {:class => "victim"} %>
    <%= link_to 'Add new link', new_link_path, {:class => "link"} %>
  </div>
</header>
