.victims-latest
  %h2 Latest
  .row
    .col-sm-2.v-pic
      = image_tag "användare.png", size: "80x100", alt: "A picture of the Victim"
    .col-sm-4.v-attr
      %p#name Sobbady Unlucky
      %p#age 17 years old
      %p#country from Sweden
    .col-sm-6.v-links
      %a#link Source page
  .row
    .col-sm-2
      %a.control-prev
        %span.glyphicon.glyphicon-chevron-left
    .col-sm-8.v-info
      %p#info Quia et magni quidem. Omnis corrupti omnis. Consequatur assumenda et rerum sed vitae. Consequatur deserunt consequuntur quos et nihil eum. Commodi omnis sed dolores eius.
    .col-sm-2
      %a.control-next
        %span.glyphicon.glyphicon-chevron-right
